$bg-color: rgba(178,206,222,1);
$dark-accent1: rgba(173,122,153,1);
$dark-accent2: rgba(90,113,106,1);
$light-acc1: (140,223,214,1);
$light-acc2: (109,192,213,1);

$main-color: #000000;
$font-color: #000000;
$border-color: #ffae00;
$footer-header: #BD3632;