@import "variables";
@import "common";


.contactForm2 {
  margin: auto;
  margin-top: 20px;
  direction: ltr;
  display: flex;
  flex-direction: column;
  max-width: 70%;
  max-height: 600px;
  background-color: lightgoldenrodyellow;

  .form-row {
    align-self: center;
    //margin: auto;
    padding: 7px;
    font-family: "Copperplate Gothic Light";
  }
}

.contactForm{
  @extend .contactForm2;
  border: double darkolivegreen 2px;
  border-radius: 10px;

  .contactHeader {
    font-family: "Lucida Sans Unicode";
    font-style: oblique;
    margin-bottom: 0;
    padding-bottom: 0;

    h1{
      margin-bottom: 0

    }

  }
}